*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.htm{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/home-img.webp);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
nav a span{
    color: #791227;
    font-weight: 800;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #791227;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: black;
}
.header-text p{
    color: black;
}

.header-text span{
    color: #791227;
}
/*-------------------------------------------------------------About------------------------------------------------------------------------*/

 #about{
    padding:80px 0;
    color: #fff;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .about-col-1{
    flex-basis: 35%;
 }
 .about-col-1 img{
    width: 100%;
    border-radius: 1.5px;
 }
 .about-col-2{
    flex-basis: 60%;
 }
 .sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
 }
 .tab-titles{
    margin: 20px 0 40px;
    display: flex;
 }
 .tab-links{
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    position: relative;
 }
 .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #791227;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
 }
 .tab-links.active-link::after{
    width: 100%;
 }
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#791227;
    font-size: 17px;
    font-weight: 700;
    
}.tab-contents{
    display: none;
}.tab-contents.active-tab{
    display: block;
}
/*--------------------------------------------------------------Services-------------------------------------------------------------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background o.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #791227;
}
.services-list div h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}.services-list div a{
    text-decoration: none;
    color: #791227;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 20px;
    margin-left: 0;
}
.services-list div:hover{
    background: #791227;
    transform: translateY(-10px);
}
.services-list div:hover i{
    color: #fff; 
}

.services-list div:hover a{
    color: #fff;
    
}
/*------------------------------------------------------------Portfolio--------------------------------------------------------------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),#9e1a3dfa);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: transform 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px; ;
}
.layer a{
    margin-top: 20px;
    color: #791227;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    text-decoration: none;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #791227;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #791227;
}
    
/*----------------------------------------------------------Contact----------------------------------------------------------------------*/
    .contact{
        padding: 50px 0;
    }
    .contact-left{
        flex-basis: 35%;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .contact-left p{
        margin-top: 30px;
    }
    .contact-left p a{
        text-decoration: none;
        color: #fff;
    }
    .contact-left p i{
        color: #791227;
        margin-right: 15px;
        font-size: 25px;
    }
    .social-icons{
        margin-top: 30px;
        margin-left: 0;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 20px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
    .social-icons a:hover{
        color: #791227;
        transform: translateY(-5px);
    }
   .btn.btn2{
        margin-top: 20px;
        display: inline-block;
        background: #791227;
        cursor: pointer;
        
        
    }
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;

    }
    form.btn2{
        padding: 14px 20px;
        font-size: 18px;
        margin-right: 20%;
        cursor: pointer;
        
    }
    #msg{
        color: green;
        margin-top: -40px;
        display: block;
    }
   /*------------------------------------------------------------footer---------------------------------------------------------------*/
    .footer{
        display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 9%;
        background: #262626;
       
    }
    .footer-text{
        font-size: 14px;
        width: 100%;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    .footer-icon{
        display:inline-block ;
        justify-content: center;
        align-items: center;
        padding: .8rem 1rem;
        background: #fff;
        border-radius: 6px;
        transition: .5s;
        margin-right: 50%;
    }
    .footer-icon i{
        font-size: 20px;
    }
   nav .fa-solid{
    display: none;
   }
   
    /*-----------------------------------------------------Code for Small Screen-------------------------------------------------*/
    @media only screen and (max-width:600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
     }
     nav ul{
        background: #791227;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #header{
    width: 50%;
    height: 50vh;
    background-image:url(images/home-img.webp);
    background-size: cover;
    background-position: center;
    }

    .header-text{
        margin-top:70%;
        font-size: 18px;
    }
    .header-text h1{
        font-size: 35px;
        margin-top: 20px;

    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .services-list div h1{
        font-size: 25px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .btn.btn2{
        margin-top: 20px;
            display: inline-block;
            background: #791227;
    }
    .footer-icon{
        display:inline-block ;
        justify-content: center;
        align-items: center;
        padding: .8rem 1rem;
        background: #fff;
        border-radius: 6px;
        transition: .5s;
        margin-right: 50%;
    }
    .footer-icon i{
        font-size: 15px;
    }
}
    